@use "../../styles";

.design-container {
  @include styles.flexCenter(center, column);
  width: 100vw;
  height: auto;
  .design-body {
    position: relative;
    @include styles.flexCenter(center, column);
    width: 80vw;
    max-width: 1092px;
    height: auto;
    .top-banner {
      position: relative;
      @include styles.flexCenter(center, column);
      width: 100%;
      height: 250px;
      background-color: styles.$peach;
      border-radius: 15px;
      overflow: hidden;
      .banner-heading {
        color: white;
        width: 50%;
        margin: 0px;
        text-align: center;
        z-index: 9999;
      }
      .banner-description {
        color: white;
        width: 35%;
        margin: 30px 0px 0px 0px;
        text-align: center;
        z-index: 9999;
        @media screen and (max-width: styles.$screen-lg-max) {
          width: 50%;
        }
      }
    }
    .cta-banner-circles {
      position: absolute;
      top: -65%;
      right: 0;
      width: 900px;
      height: auto;
      @media (max-width: styles.$screen-lg-max) {
        right: none;
        left: 0;
      }
    }
    .projects-container {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      height: auto;
      margin: 150px 0px 100px 0px;
      .row-container {
        position: relative;
        width: 100%;
        @include styles.flexCenter(space-around, row);
        margin: 0px 0px 30px 0px;
        @media (max-width: styles.$screen-lg-max) {
          display: none;
        }
        .card {
          position: relative;
          display: flex;
          flex-direction: column;
          width: 30%;
          height: auto;
          border-radius: 15px;
          background-color: #fdf3f0;
          overflow: hidden;
          @media (max-width: styles.$screen-lg-max) {
            flex-direction: row;
          }
          .card-title {
            text-align: center;
            color: styles.$peach;
            text-transform: uppercase;
            width: 80%;
            align-self: center;
            margin: 20px 0px 7.5px 0px;
          }
          .card-description {
            text-align: center;
            font-weight: 400;
            width: 90%;
            align-self: center;
            margin: 0px 0px 20px 0px;
          }
        }
      }
    }
    .page-images-container {
      position: relative;
      @include styles.flexCenter(space-between, row);
      width: 100%;
      height: 400px;
      .app-design {
        position: relative;
        @include styles.flexCenter(center, column);
        background-image: url("../../assets/home/desktop/image-app-design.jpg");
        width: 80%;
        height: 75%;
        background-repeat: no-repeat;
        object-fit: cover;
        border-radius: 20px;
        margin: 0px 30px 0px 0px;
        .image-text-container {
          position: relative;
          @include styles.flexCenter(center, column);
          backdrop-filter: brightness(50%) blur(0px);
          border-radius: 20px;
          width: 100%;
          height: 100%;
          cursor: pointer;
          &:hover {
            background-color: rgba(231, 129, 107, 0.7);
          }
          .image-text {
            position: relative;
            text-align: center;
            color: white;
            margin: 30px 0px 0px 0px;
          }
        }
      }
      .graphic-design {
        position: relative;
        @include styles.flexCenter(center, column);
        background-image: url("../../assets/home/desktop/image-graphic-design.jpg");
        width: 80%;
        height: 75%;
        background-repeat: no-repeat;
        object-fit: cover;
        border-radius: 20px;
        .image-text-container {
          position: relative;
          @include styles.flexCenter(center, column);
          backdrop-filter: brightness(50%) blur(0px);
          border-radius: 20px;
          width: 100%;
          height: 100%;
          cursor: pointer;
          &:hover {
            background-color: rgba(231, 129, 107, 0.7);
          }
          .image-text {
            position: relative;
            text-align: center;
            color: white;
            margin: 30px 0px 0px 0px;
          }
        }
      }
    }
  }
}
