@use '../../styles';

.home-container {
  @include styles.flexCenter(center, column);
  width: 100vw;
  .home-body {
    position: relative;
    @include styles.flexCenter(center, column);
    width: 80vw;
    .home-banner {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 640px;
      background-color: styles.$peach;
      border-radius: 20px;
      .dark-circle {
        position: absolute;
        top: 0;
        right: 0;
        width: 640px;
        height: auto;
        object-fit: cover;
      }
      .iphone {
        width: 500px;
        height: auto;
        object-fit: cover;
        margin: 0px 0px -300px 0px;
      }
      .text-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        margin: 0px 0px 0px 40px;
        .banner-header {
          width: 540px;
          color: white;
          text-align: left;
        }
        .banner-description {
          width: 540px;
          color: white;
          text-align: left;
          font-weight: 400;
          margin: 12.5px 0px 0px 0px;
        }
        .banner-button {
          position: relative;
          @include styles.flexCenter(center, row);
          background-color: white;
          width: 152px;
          height: 56px;
          border-radius: 7.5px;
          margin: 30px 0px 0px 0px;
          .button-text {
            font-family: "Jost", sans-serif;
            font-weight: 500;
            font-size: 15px;
          }
        }
      }
    }
    .page-images-container {
    }
  }
}
