@use '../../styles';

.nav-container {
  position: relative;
  @include styles.flexCenter(center, row);
  width: 100vw;
  .nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    height: 100px;
    @media (max-width: styles.$screen-md-max) {
      width: 90vw;
    }
    @media (max-width: styles.$screen-sm-max) {
      width: 100vw;
    }
    .logo-link {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      .nav-logo {
        position: relative;
        width: auto;
        height: 27px;
        object-fit: cover;
        @media (max-width: styles.$screen-sm-max) {
          margin: 0px 0px 0px 20px;
        }
      }
    }
    .nav-links-container {
      position: relative;
      display: flex;
      width: 50%;
      height: 100%;
      @media (max-width: styles.$screen-md-max) {
        align-items: center;
        justify-content: center;
        width: 100px;
      }
      .desktop-ul {
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
        @media (max-width: styles.$screen-md-max) {
          display: none;
        }
        .desktop-li {
          font-size: 14px;
          line-height: 14px;
        }
      }
    }
    .mobile-menu {
      display: none;
      @media (max-width: styles.$screen-md-max) {
        display: block;
      }
      .hamburger {
        position: relative;
        display: flex;
        width: 24px;
        height: 20px;
        cursor: pointer;
      }
      .menu-close {
        display: none;
        @media (max-width: styles.$screen-md-max) {
          display: block;
        }
      }
    }
  }
}
.mobile-menu-modal {
  display: none;
  @media (max-width: styles.$screen-md-max) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 235px;
    background-color: styles.$black;
    color: white;
    transition-duration: 2s;
    transition-timing-function: linear;
  }
  .mobile-ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 80%;
    height: 80%;
    .mobile-li {
      font-size: 25px;
      line-height: 24px;
    }
  }
}
